.calc-actions,
#modal-container{
    margin: 10px;
    border: solid red 2px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-actions .calc-btn{
    height: 60px;
    width: 60px;
    border: solid pink 2px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.calc-actions .calc-btn>span{
    line-height: 20px;
    color: red;
    font-size: 25px;
}

#modal-container {
    border: solid rgb(76, 29, 150) 2px;
    min-height: 100px;
    opacity: 0;
    transition: all ease-in-out 1s;
    transform: rotateX(90deg)translate(100px);
    position: relative;
    justify-content: center;
}

#modal-container.active {
    opacity: 1;
    transform: rotateX(0deg)translate(0px);
}

#modal-container .close-btn {
    height: 20px;
    width: 20px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid rgb(76, 29, 150) 2px;
    border-radius: 5px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
}

#modal-container .close-btn.clear {
    background: #f60;
    bottom: 40px;
}

#modal {
    font-size: 30px;
}